{% extends "jmbo/inclusion_tags/modelbase_detail.html" %}
{% load pagination_tags jmbo_template_tags jmbo_inclusion_tags %}

{% block content %}
    {% with object.get_items as items %}
        <div class="items">
            {% autopaginate items 1 %}
            {% for item in items %}
                <div class="item {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                    {% render_object item.as_leaf_class "gallery_detail_collage" %}
                </div>
            {% endfor %}
        </div>
        {% paginate %}
    {% endwith %}
{% endblock %}
