{% load jmbo_template_tags foundry_tags i18n gallery_tags %}

<a href="{{ object.get_absolute_url }}">
    {% if object.image %}
        <img src="{{ object.get_listing_vertical_thumbnail_pinned_LAYER_url }}" alt="{{ object.title }}" class="left" />
    {% else %}
        {% videoembed object 'listing_vertical_thumbnail' %}
    {% endif %}
</a>

<div class="title">
    {% if object.categories.all.count %}<span class="category">{{ object.categories.all|join_titles }}:</span>{% endif %}
    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
</div>

{% include "includes/list_meta.html" %}
