{% extends "jmbo/inclusion_tags/modelbase_detail.html" %}
{% load gallery_tags jmbo_template_tags %}

{% block content %}
    {% jmbocache 3600 'object-detail-inclusion' object.id object.modified %}

        {% if object.image %}
            <a href="{{ object.get_absolute_url }}" onclick="document.location='http://m.youtube.com/watch?gl=ZA&hl=en&client=mv-google&v={{ object.youtube_id }}'; return false;">
                <img src="{{ object.get_videoembed_detail_image_url }}" alt="{{ object.title }}" />
            </a>
        {% endif %}

        {% if object.description %}
            <div class="description">
                {{ object.description|linebreaks }}
            </div>
        {% endif %}

    {% endjmbocache %}
{% endblock %}
